--index-url https://download.pytorch.org/whl/cu128
torch
torchaudio

sounddevice; platform_system == "Linux"
silero-vad
fugashi
unidic-lite
PySide6
requests
numpy
scipy
qwen-asr
huggingface-hub
PyAudioWPatch; platform_system == "Windows"
soundfile>=0.13.1
soxr>=1.0.0

# dev dependencies
ruff
mypy
pytest
pytest-mock
