--index-url https://download.pytorch.org/whl/cu128
torch
torchaudio

sounddevice; platform_system == "Linux"
silero-vad
fugashi
unidic-lite
PySide6
requests
numpy
qwen-asr
PyAudioWPatch; platform_system == "Windows"

# dev dependencies
ruff
mypy
pytest
pytest-mock